{% extends 'base.html' %}
{% block main_space %}
<section>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1b/Metro_2035_-_original_cover.jpg/220px-Metro_2035_-_original_cover.jpg" alt="">
    <h2>Metro 2035</h2>
    <p>Metro 2035 (Russian: Метро 2035) is a 2015 post-apocalyptic science fiction novel by Russian author Dmitry Glukhovsky. Glukhovsky's third book in the core Metro series, it serves as a sequel to Metro 2033 and Metro 2034. Like previous novels in the series, Metro 2035 is primarily set in the Moscow Metro and the ruins of Moscow itself in the aftermath of a nuclear apocalypse. 2035 follows Artyom, the protagonist of Metro 2033, as he attempts to make contact with other survivors in the world. Metro 2035 is partially inspired by the video game Metro: Last Light.[3][4] In turn, Metro Exodus is a game loosely based on Metro 2035.</p>
</section>
{% endblock %}