{% extends 'base.html' %}
{% block main_space %}
<section>
    <img src="https://upload.wikimedia.org/wikipedia/ru/a/a8/22_november_1963.jpg" alt="">
    <h2>11 22 63</h2>
    <p>«11/22/63» — научно-фантастический роман американского писателя Стивена Кинга, рассказывающий о путешественнике во времени, пытающемся предотвратить убийство 35-го президента США Джона Кеннеди. Анонс романа состоялся 2 марта 2011 года на официальном сайте Стивена Кинга[1], короткий отрывок был опубликован 1 июня[2]. Роман вышел в мировую печать 8 ноября 2011 года[3]. Газетные заголовки на обложке оригинального издания были написаны самим Стивеном Кингом.</p>
</section>
{% endblock %}