{% extends 'base.html' %}
{% block main_space %}
<section>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/Mrmercedes.jpg/220px-Mrmercedes.jpg" alt="">
    <h2>Mister Mercedes</h2>
    <p>Mr. Mercedes is a novel by American writer Stephen King. He calls it his first hard-boiled detective book. It was published on June 3, 2014.[1] It is the first volume in a trilogy, followed in 2015 by Finders Keepers, the first draft of which was finished around the time Mr. Mercedes was published,[2][3] and End of Watch in 2016.</p>
</section>
{% endblock %}